{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="/">Home</a>
						<i>|</i>
					</li>
					<li>Payment</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- payment page-->
	<div class="privacy">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Payment
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>


		</div>
        <div>
            <h1>!!Congratulation!! Your ticket has been booked. We will inform you about departure date and time. THANK YOU !!! Visit Again </h1>
        	<h4>You have booked our service via online transaction using online payment system or cash on meet or tour. </h4>
			<h5>Please feel free to comment us on our services.</h5>

			<a href="/">Done</a>
		</div>
	</div>
	<!-- //payment page -->

	<!-- newsletter -->

{% endblock %}